header .dropdown-toggle::after {
  content: none;
}
.main-header .header-container .navbar-brand .header-imgbox {
  width: 89px;
  height: 37px;
}

.banner {
  height: 520px;
  position: relative;
}
.banner .banner_bgIMG_wrapper {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}
.banner .banner_bgIMG_wrapper::before {
  content: "";
  background-image: url(../images/IndexImgs/bg-agoda-homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;
}
.banner .banner_container {
  min-width: 580px;
  max-width: 768px;
  margin: 0 auto;
  padding: 3% 0;
  text-align: center;
  width: 100%;
  height: auto;
}

.banner .banner_container .search-form {
  margin-top: -16px;
  padding: 48px 64px 95px;
  width: 100%;
  height: 327px;
  margin: auto;
  background-color: #f8f7f9;
  border: 1px solid #dddfe2;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 66px 66px 66px;
  gap: 12px;
}
.banner_container .search-form .input-group {
  border: 1px solid #dddfe2;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 5px 0;
}
.banner_container .search-form .input-group div {
  padding: 0;
  margin: 0;
}
.banner_container .search-form .input-group i {
  padding: 12px 16px 12px 14px;
  display: flex;
  align-self: center;
}

.banner .search-form .input .banner .search-form .form-control:focus,
.banner .search-form .form-control:focus-visible {
  box-shadow: none;
}
.homebody {
  margin: 0 125px;
  padding: 0;
}
.homebody .tw-top-cities {
  margin: 64px 0;
  width: auto;
}
.homebody .tw-top-cities .cites {
  width: 200px;
  height: auto;
  margin: 0 8px;
  padding: 0 0 16px;
}
.homebody .tw-top-cities .cites .cityPage_link {
  text-decoration: none;
  text-align: center;
}

.homebody .tw-top-cities .cites .cityPage_link:hover {
  text-decoration: underline #5392f9;
}
.homebody .tw-top-cities .cites .cityPage_link h3 {
  font-size: 16px;
  color: #252c38;
  margin: 10px 0 -1px;
}
.homebody .tw-top-cities .cites .cityPage_link span {
  font-size: 12px;
  color: #252c38;
  display: block;
  margin: 3px 0 -1px;
}
.homebody .tw-top-cities .cites .city_imgBox {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
}
.homebody .tw-top-cities .cites .city_imgBox img {
  width: 100%;
}

.homebody .next-btn,
.homebody .pre-btn {
  position: absolute;
  top: 42%;
  width: 50px;
  aspect-ratio: 1/1;
  color: black;
  font-size: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  /* line-height設定50%是要讓icon垂直置中 */
  line-height: 50px;
  z-index: 1;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
}
.homebody .next-btn:hover,
.homebody .pre-btn:hover {
  background-color: #eeeeef;
}
.homebody .pre-btn {
  left: 20px;
}
.homebody .next-btn {
  right: 20px;
}

/* 手機版 */
@media screen and (max-width: 991px) {
  .banner {
    background-image: url(../images/IndexImgs/phone_bg_homepage.jpg);
    background-size: 100% 100%;
    background-position: 0px 0px;
    height: 80vh;
  }
  .banner .banner_container .search-form {
    margin: 8px 12px 32px;
    padding: 12px;
  }
  .banner .banner_container .search-form button {
    font-size: 20px;
    font-weight: 600;
  }
}
/* 桌面版 */
@media screen and (min-width: 992px) {
  .banner .banner_container {
    max-width: 900px;
  }
  .banner .banner_container .search-form {
    grid-template-columns: repeat(2, 50%);
    position: relative;
  }
  .banner .banner_container .search-form :nth-child(1) {
    grid-column: 1/3;
  }
  .banner .banner_container .search-form button {
    position: absolute;
    width: 567px;
    height: 84px;
    font-size: 28px;
    font-weight: bold;
    bottom: -30px;
    left: 6em;
  }
}
